# Entorno virtual
twitter-bot-env/
venv/

# Configuración de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de entorno
.env

# Configuraciones de VSCode
.vscode/

# Archivos de sistema
.DS_Store

# Archivos de Poetry
poetry.lock
.pyproject.toml

# Otros archivos innecesarios
.python-version

# Carpetas con los memes
memes/

math_memes/

# txt para scheduled_img.py
src/last_published.txt

src/daily_meme_bot.log
src/praw_reddit_trials
src/reddit_scraper
